In [78]:
import pandas as pd
import numpy as np
pd.set_option('display.float_format', lambda x: '%.3f' % x)

# Input
horeca_item_similarity = pd.read_csv("../data/interim/horeca_item_similarity.csv")
retail_item_similarity = pd.read_csv("../data/interim/retail_item_similarity.csv")
horeca_user_item_affinity = pd.read_csv("../data/interim/horeca_user_item_affinity.csv")
retail_user_item_affinity = pd.read_csv("../data/interim/retail_user_item_affinity.csv")
horeca_user_item_affinity = horeca_user_item_affinity.set_index("customer_id").T
retail_user_item_affinity = retail_user_item_affinity.set_index("customer_id").T

# Recommendation scores
horeca_recommendation_scores = pd.DataFrame(np.matmul(horeca_item_similarity, horeca_user_item_affinity))
retail_recommendation_scores = pd.DataFrame(np.matmul(retail_item_similarity, retail_user_item_affinity))
horeca_recommendation_scores.columns = range(1, horeca_recommendation_scores.shape[1]+1)
retail_recommendation_scores.columns = range(1, retail_recommendation_scores.shape[1]+1)

In [79]:
horeca_item_similarity

   Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0  1.000 0.247    0.236   0.336            -0.007       0.255
1  0.247 1.000    0.603   0.409             0.250       0.630
2  0.236 0.603    1.000   0.259             0.548       0.447
3  0.336 0.409    0.259   1.000            -0.031       0.428
4 -0.007 0.250    0.548  -0.031             1.000       0.078
5  0.255 0.630    0.447   0.428             0.078       1.000

In [80]:
horeca_user_item_affinity

customer_id,1,2,3,4,5,6,7,8,9,10,...,289,290,291,292,293,294,295,296,297,298
fresh,13265,5963,10253,5876,7780,5567,31276,9898,14276,43088,...,8607,3097,8533,21117,1982,16731,29703,39228,10290,2787
milk,1196,3648,1114,6157,2495,871,1917,961,803,2100,...,1750,4230,5506,1162,3218,3922,12051,1431,1981,1698
grocery,4221,6192,3821,2933,9464,2010,4469,2861,3045,2609,...,3580,16483,5160,4754,1493,7994,16027,764,2232,2510
frozen,6404,425,397,839,669,3383,9408,3151,485,1200,...,47,575,13486,269,1541,688,13135,4510,1038,65
detergents_paper,507,1716,964,370,2518,375,2381,242,100,1107,...,84,241,1377,1328,356,2371,182,93,168,477
delicassen,1788,750,412,4478,501,569,4334,833,518,823,...,2501,2080,1498,395,1449,838,2204,2346,2125,52

In [81]:
horeca_recommendation_scores

,1,2,3,4,5,6,7,8,9,10,...,289,290,291,292,293,294,295,296,297,298
0,17156.131,8642.345,11659.068,9503.795,10958.749,7533.329,37046.021,12077.354,15485.495,44824.688,...,10533.823,8744.896,16005.537,22704.754,4010.740,20008.374,41420.737,41871.561,12192.514,3828.615
1,10880.780,9924.314,6606.901,12628.122,11334.435,5289.893,19491.147,6998.550,6706.831,15580.105,...,7644.161,16531.354,17520.585,9923.345,6237.727,14265.477,35835.493,14906.586,7667.191,4076.167
2,10801.212,11181.109,7723.659,10448.932,14577.869,5181.697,18670.023,7092.650,7304.933,15313.508,...,7838.726,20972.207,15401.497,11404.582,5140.533,16152.144,34771.318,13136.811,7160.909,4491.490
3,13188.866,5788.202,5429.899,7994.641,6885.574,6360.303,23631.346,7956.667,6613.148,17518.969,...,5647.173,8491.637,20535.825,9191.989,4518.006,10262.152,33119.835,19466.098,6785.344,2351.727
4,2959.552,6021.854,3279.705,3794.556,8288.345,1591.450,5119.662,1942.806,1888.195,2766.993,...,2612.255,10452.354,5213.149,4088.690,2028.360,7651.256,11517.565,618.607,1942.515,2258.213
5,10586.110,7647.244,5675.647,11549.157,8763.805,4910.812,19713.711,6604.423,6233.524,14878.441,...,7420.088,13162.510,15326.149,8844.504,5334.597,11617.409,30154.451,15512.150,7446.534,3017.102

In [82]:
# Normalize
normalized_horeca_recommendation_scores = pd.DataFrame()
normalized_retail_recommendation_scores = pd.DataFrame()
for column in horeca_recommendation_scores.columns:
    normalized_horeca_recommendation_scores[column] = horeca_recommendation_scores[column] * (horeca_user_item_affinity[column].max() / horeca_recommendation_scores[column].max())
for column in retail_recommendation_scores.columns:
    normalized_retail_recommendation_scores[column] = retail_recommendation_scores[column] * (retail_user_item_affinity[column].max() / retail_recommendation_scores[column].max())
normalized_horeca_recommendation_scores

,1,2,3,4,5,6,7,8,9,10,...,289,290,291,292,293,294,295,296,297,298
0,13265.000,4786.054,10253.000,4633.695,7114.456,5567.000,31276.000,9898.000,14276.000,43088.000,...,8607.000,6873.007,10510.933,21117.000,2069.113,16731.000,29703.000,39228.000,10290.000,2375.681
1,8412.943,5495.998,5810.117,6157.000,7358.352,3909.140,16455.347,5735.664,6182.993,14976.470,...,6245.909,12992.734,11505.874,9229.402,3218.000,11928.790,25697.796,13965.458,6470.806,2529.289
2,8351.421,6192.000,6792.196,5094.509,9464.000,3829.185,15762.115,5812.784,6734.381,14720.201,...,6404.884,16483.000,10114.256,10607.054,2651.965,13506.421,24934.671,12307.418,6043.524,2787.000
3,10197.538,3205.456,4775.061,3897.888,4470.137,4700.154,19950.698,6520.889,6096.628,16840.214,...,4614.205,6673.959,13486.000,8549.189,2330.808,8581.210,23750.385,18237.106,5726.563,1459.263
4,2288.305,3334.850,2884.177,1850.083,5380.820,1176.054,4322.261,1592.228,1740.717,2659.789,...,2134.427,8214.975,3423.506,3802.766,1046.417,6397.979,8259.299,579.551,1639.406,1401.236
5,8185.106,4234.977,4991.172,5630.937,5689.491,3629.006,16643.246,5412.658,5746.655,14301.990,...,6062.822,10345.009,10064.775,8226.004,2752.082,9714.475,21623.895,14532.791,6284.581,1872.132

In [83]:
normalized_horeca_recommendation_scores

,1,2,3,4,5,6,7,8,9,10,...,289,290,291,292,293,294,295,296,297,298
0,13265.000,4786.054,10253.000,4633.695,7114.456,5567.000,31276.000,9898.000,14276.000,43088.000,...,8607.000,6873.007,10510.933,21117.000,2069.113,16731.000,29703.000,39228.000,10290.000,2375.681
1,8412.943,5495.998,5810.117,6157.000,7358.352,3909.140,16455.347,5735.664,6182.993,14976.470,...,6245.909,12992.734,11505.874,9229.402,3218.000,11928.790,25697.796,13965.458,6470.806,2529.289
2,8351.421,6192.000,6792.196,5094.509,9464.000,3829.185,15762.115,5812.784,6734.381,14720.201,...,6404.884,16483.000,10114.256,10607.054,2651.965,13506.421,24934.671,12307.418,6043.524,2787.000
3,10197.538,3205.456,4775.061,3897.888,4470.137,4700.154,19950.698,6520.889,6096.628,16840.214,...,4614.205,6673.959,13486.000,8549.189,2330.808,8581.210,23750.385,18237.106,5726.563,1459.263
4,2288.305,3334.850,2884.177,1850.083,5380.820,1176.054,4322.261,1592.228,1740.717,2659.789,...,2134.427,8214.975,3423.506,3802.766,1046.417,6397.979,8259.299,579.551,1639.406,1401.236
5,8185.106,4234.977,4991.172,5630.937,5689.491,3629.006,16643.246,5412.658,5746.655,14301.990,...,6062.822,10345.009,10064.775,8226.004,2752.082,9714.475,21623.895,14532.791,6284.581,1872.132

In [87]:
differenced_horeca_recommendations = np.subtract(normalized_horeca_recommendation_scores, horeca_user_item_affinity)
differenced_retail_recommendations = np.subtract(normalized_retail_recommendation_scores, retail_user_item_affinity)
differenced_horeca_recommendations["category"] = ["fresh", "milk", "grocery", "frozen", "detergents_paper", "delicassen"]
differenced_retail_recommendations["category"] = ["fresh", "milk", "grocery", "frozen", "detergents_paper", "delicassen"]
differenced_horeca_recommendations = differenced_horeca_recommendations.set_index("category").reset_index()
differenced_retail_recommendations = differenced_retail_recommendations.set_index("category").reset_index()
differenced_horeca_recommendations

,category,1,2,3,4,5,6,7,8,9,...,289,290,291,292,293,294,295,296,297,298
0,fresh,0.000,-1176.946,0.000,-1242.305,-665.544,0.000,0.000,0.000,0.000,...,0.000,3776.007,1977.933,0.000,87.113,0.000,-0.000,0.000,0.000,-411.319
1,milk,7216.943,1847.998,4696.117,0.000,4863.352,3038.140,14538.347,4774.664,5379.993,...,4495.909,8762.734,5999.874,8067.402,0.000,8006.790,13646.796,12534.458,4489.806,831.289
2,grocery,4130.421,0.000,2971.196,2161.509,0.000,1819.185,11293.115,2951.784,3689.381,...,2824.884,0.000,4954.256,5853.054,1158.965,5512.421,8907.671,11543.418,3811.524,277.000
3,frozen,3793.538,2780.456,4378.061,3058.888,3801.137,1317.154,10542.698,3369.889,5611.628,...,4567.205,6098.959,0.000,8280.189,789.808,7893.210,10615.385,13727.106,4688.563,1394.263
4,detergents_paper,1781.305,1618.850,1920.177,1480.083,2862.820,801.054,1941.261,1350.228,1640.717,...,2050.427,7973.975,2046.506,2474.766,690.417,4026.979,8077.299,486.551,1471.406,924.236
5,delicassen,6397.106,3484.977,4579.172,1152.937,5188.491,3060.006,12309.246,4579.658,5228.655,...,3561.822,8265.009,8566.775,7831.004,1303.082,8876.475,19419.895,12186.791,4159.581,1820.132

In [89]:
differenced_horeca_recommendations.melt(id_vars=["category"],
                                       var_name="customer",
                                       value_name="score").\
                                   sort_values(by="score", ascending=False)

              category customer     score
635         delicassen      106 52362.027
633             frozen      106 46981.805
632            grocery      106 44365.689
631               milk      106 40036.583
1271        delicassen      212 35230.434
389         delicassen       65 28682.555
1267              milk      212 27677.097
385               milk       65 27258.662
1115        delicassen      186 26557.739
1111              milk      186 26457.852
1113            frozen      186 25466.523
387             frozen       65 24725.691
289               milk       49 23811.091
293         delicassen       49 23780.437
1268           grocery      212 22634.155
229               milk       39 22001.751
386            grocery       65 22001.057
987             frozen      165 20432.594
993             frozen      166 20286.616
1721        delicassen      287 19988.662
995         delicassen      166 19702.424
605         delicassen      101 19674.379
231             frozen       39 19468.475
1769        delicassen      295 19419.895
1112           grocery      186 19149.173
989         delicassen      165 19060.211
97                milk       17 18831.306
99              frozen       17 18315.847
985               milk      165 18134.800
986            grocery      165 17864.479
...                ...      ...       ...
1674             fresh      280  -146.588
366              fresh       62  -187.985
1336  detergents_paper      223  -209.151
621             frozen      104  -213.727
1410             fresh      236  -225.045
1290             fresh      216  -257.206
342              fresh       58  -282.934
647         delicassen      108  -303.186
1650             fresh      276  -313.415
1350             fresh      226  -364.275
1333              milk      223  -367.376
1458             fresh      244  -409.257
1782             fresh      298  -411.319
624              fresh      105  -543.611
1092             fresh      183  -563.616
1482             fresh      248  -585.534
1554             fresh      260  -629.564
1416             fresh      237  -654.829
24               fresh        5  -665.544
1146             fresh      192  -690.097
570              fresh       96  -760.188
1644             fresh      275  -777.763
462              fresh       78  -854.800
144              fresh       25  -948.161
6                fresh        2 -1176.946
132              fresh       23 -1206.960
18               fresh        4 -1242.305
180              fresh       31 -1451.086
1710             fresh      286 -2555.223
642              fresh      108 -3442.415

[1788 rows x 3 columns]